.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 120px;
    margin-right: 20px;
    position: relative;
}

.header-nav>ul {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-nav>ul>li {
    padding-right: 32px;
}

.header-nav .btn {
    background: rgba(245, 138, 7, 0.1);
    border-radius: 20px;
    padding: 18px 30px;
    color: orange;
}