.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 120px;
    margin-right: 20px;
    position: relative;
}

.header-nav>ul {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-nav>ul>li {
    padding-right: 32px;
}

.header-nav .btn {
    background: rgba(245, 138, 7, 0.1);
    border-radius: 20px;
    padding: 18px 30px;
    color: orange;
}

.feature-article {
    background: #DCEAF5;
    margin: 0;
    padding-top: 100px;
    height: 598px;
    margin-bottom: 90px;
}

.feature-article-left {
    position: relative;
}

.feature-article-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin: 0;
    align-items: center;
    display: inline-block;
    color: #1D3444;

}

.feature-article .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 30px;
}

.feature-article-img {
    justify-content: flex-end;
    display: flex;
    position: absolute;
    bottom: -120px;
    right: -150px;
}

.home-btn {
    display: flex;
}

.home-btn a {
    background: #F58A07;
    border-radius: 27px;
    padding: 10px 20px;
    color: #fff;
    margin-top: 40px;
}

.homeright-btn {
    display: flex;
}

.homeright-btn a {
    justify-content: space-between;
    color: #000;
    background: none;
}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
    margin-top: 30px;
}

.logos img {
    margin-top: 20px;
    padding: 20px;
}

.help-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.post h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.post p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #5B5B5B;
}

.post a {
    color: orange;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    padding-bottom: 90px;
}

.post-1 img {
    border-radius: 20px;
    width: 399px;
    height: 242px;
    margin-top: 50px;
}

.post-2 img {
    border-radius: 20px;
    width: 399px;
    height: 242px;
    margin-top: 50px;
}

.post-3 img {
    border-radius: 20px;
    width: 399px;
    height: 242px;
    margin-top: 50px;
}

.feature-section {
    position: relative;
    background: #EDF7FF;
    height: 598px;
    margin-bottom: 96px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.feature-description {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 10px;
}

.description-left {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 95px;
    ;
}

.description-right {
    margin-left: 40px;
    margin-top: 95px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #1D3444;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    position: absolute;
}

.feature {
    margin-right: 20px;
    margin-top: 300px;
    width: 401px;
    height: 277px;
    background: #fff;
    border-radius: 20px;
}

.feature img {
    margin-left: 40px;
    margin-top: 50px;
}

.feature h1 {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
}

.feature p {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.about-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 200px;
}

.about-title {
    padding-top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.about-feature {
    display: flex;
    ;
}

.about-feature-left {
    margin-right: 30px;
}

.about-description {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.about-feature h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
}

.about-feature h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.about-feature p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.about-feature-img {
    display: flex;
    overflow: hidden;
}

.service-content {
    display: flex;
    padding: 48px;
}

.service-section {
    background: #EDF7FF;
    border-radius: 20px;
    height: auto;
    margin-bottom: 50px;
}

.service-tab {
    display: flex;
    margin-top: -100px;
    margin-left: 60px;

}

.ribbon img {
    padding-left: 1100px;
}

.tab-1 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #F58A07;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 31px;
    margin-right: 20px;
}

.tabs a {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(6, 50, 85, 0.3);
    margin-right: 20px;
}

.service-title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 100px;
    margin-left: 70px;
}

.service-title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-left: 70px;
}

.service-title a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-left: 70px;
}

.service-img img {
    display: flex;
    padding-top: 70px;
    padding-left: 80px;
}

.cta-section {
    display: flex;
    margin-bottom: 90px;
}

.cta-left img {
    width: 640px;
    height: 618px;
}

.cta-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.cta-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #F58A07;
}

.cta-btn a {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 32px;
}

.cta-right {
    height: auto;
    width: 640px;
    background-color: orange;
    padding-left: 60px;
    padding-top: 120px;
}

.video-section {
    display: flex;
    justify-content: space-between;
}

.video-left {
    margin-right: 70px;
}

.video-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}

.video-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.left-top {
    display: flex;
}

.left-top img {

    margin-right: 40px;
}

.left-top h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}

.left-top h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}

.video-right{
    display: flex;
}

.video-btn {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #000;
    margin-top: 400px;
    margin-left: 40px;
}
.latest-section{
    background: #EDF7FF;
    width: 100%;
}
.latest-section h1{
    padding-top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}
.card{
    justify-content: space-between;
    margin-right: 20px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 60px;
}
.card-head{
    border-radius: 20px;
}
.card-head img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-body{
    display: inline-block;
}
.card-body h3{
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.card-body p{
    padding-left: 50px;
    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #5B5B5B;
}
.card-body a{
    padding-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
line-height: 106.5%;
    color: #F58A07;
}

footer{
    background: #063255;
    position: relative;
}
.footer-top{
    display: flex;
    margin-bottom: 90px;
}
.footer-left{
    margin-top: 50px;
}

.footer-left h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.social-icon i{
    padding-right: 20px;
    font-size: 26px;
    color: #fff;
}
.company{
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
}
.company li{
    padding: 8px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.middle h3{
    margin-top: 40px;
    margin-left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.middle p{
    margin-left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.last h3{
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.last input{
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 40px;
    margin-left: 30px;
}
input::placeholder{
    padding-left: 10px;
    font-size: 16px;
}
.footer-btn{
    margin-top: 20px;
    margin-left: 50px;
}
.footer-btn a{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: orange;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.cp{
    margin-top: 40px;
}
.shape-left{
    position: absolute;
    left: 0;
    bottom: 0;
}
.shape-right{
    position:absolute ;
    right: 0;
}