.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 120px;
    margin-right: 20px;
    position: relative;
}

.header-nav>ul {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-nav>ul>li {
    padding-right: 32px;
}

.header-nav .btn {
    background: rgba(245, 138, 7, 0.1);
    border-radius: 20px;
    padding: 18px 30px;
    color: orange;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
}

.header-left h1 {
    margin-top: 150px;
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.header-left p {
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 30px;
}

.header-left a {
    margin-left: 70px;
    border-radius: 30px;
    padding: 20px 30px;
    background-color: orange;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header-right img {
    margin-left: 40px;
    margin-top: 70px;
    display: flex;
}

.feature-1 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-1-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-1-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-1-right ul>li {
    padding: 5px;
    list-style-type: disc;
}

.feature-2 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-2-left {
    margin-top: 120px;
}

.feature-2-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-2-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-3 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 90px;
}

.feature-3-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-3-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-3-right ul>li {
    padding: 5px;
    list-style-type: disc;
}

.feature-4 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-4-left {
    margin-top: 120px;
}

.feature-4-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-4-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-5 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 90px;
}

.feature-5-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-5-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-5-right ul>li {
    padding: 5px;
    list-style-type: disc;
}

.video-section {
    margin-bottom: 90px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.video-left {
    margin-right: 70px;
}

.video-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}

.video-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.left-top {
    display: flex;
}

.left-top img {

    margin-right: 40px;
}

.left-top h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}

.left-top h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}

.video-right {
    display: flex;
}

.video-btn {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #000;
    margin-top: 400px;
    margin-left: 40px;
}

.latest-section {
    background: #EDF7FF;
    width: 100%;
}

.latest-section h1 {
    padding-top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}

.card {
    justify-content: space-between;
    margin-right: 20px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 60px;
}

.card-head {
    border-radius: 20px;
}

.card-head img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body {
    display: inline-block;
}

.card-body h3 {
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.card-body p {
    padding-left: 50px;
    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #5B5B5B;
}

.card-body a {
    padding-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}

footer {
    background: #063255;
    position: relative;
}

.footer-top {
    display: flex;
    margin-bottom: 90px;
}

.footer-left {
    margin-top: 50px;
}

.footer-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.social-icon i {
    padding-right: 20px;
    font-size: 26px;
    color: #fff;
}

.company {
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
}

.company li {
    padding: 8px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.middle h3 {
    margin-top: 40px;
    margin-left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.middle p {
    margin-left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.last {
    margin-left: 50px;
}

.last h3 {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.last input {
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 40px;
    margin-left: 30px;
}

input::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.footer-btn {
    margin-top: 35px;
    margin-left: 50px;
}

.footer-btn a {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: orange;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.cp {
    margin-top: 40px;
}

.shape-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.shape-right {
    position: absolute;
    right: 0;
}

.footer-bttm-left {
    display: flex;
}

.footer-bttm-left p {
    margin-left: 50px;
    margin-top: 105px;
    margin-right: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}