.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
}

.header-left h1 {
    margin-top: 150px;
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.header-left p {
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 30px;
}

.header-left a {
    margin-left: 70px;
    border-radius: 30px;
    padding: 20px 30px;
    background-color: orange;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header-right img {
    margin-left: 40px;
    margin-top: 70px;
    display: flex;
}

.feature-1 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-1-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-1-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-1-right ul>li {
    margin-left: 20px;
    padding: 9px;
    list-style-type: disc;
}

.feature-2 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-2-left {
    margin-top: 120px;
}

.feature-2-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-2-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-3 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 90px;
}

.feature-3-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-3-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-3-right ul>li {
    margin-left: 15px;
    padding: 5px;
    list-style-type: disc;
}

.feature-4 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-4-left {
    margin-top: 120px;
}

.feature-4-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-4-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-5 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 90px;
}

.feature-5-right h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.feature-5-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.feature-5-right ul>li {
    padding: 5px;
    list-style-type: disc;
}

.video-section {
    margin-bottom: 90px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.video-left {
    margin-right: 70px;
}

.video-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}

.video-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.left-top {
    display: flex;
}

.left-top img {
    height: 80px;
    width: 80px;
    margin-right: 40px;
    margin-top: 40px;
}

.left-top h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}

.left-top h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}

.video-right {
    display: flex;
}

.video-btn {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #000;
    margin-top: 400px;
    margin-left: 40px;
}

.latest-section {
    background: #EDF7FF;
    width: 100%;
}

.latest-section h1 {
    padding-top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
}

.card {
    justify-content: space-between;
    margin-right: 20px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 60px;
}

.card-head {
    border-radius: 20px;
}

.card-head img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body {
    display: inline-block;
}

.card-body h3 {
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.card-body p {
    padding-left: 50px;
    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #5B5B5B;
}

.card-body a {
    padding-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}